* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

.container-div {
    position: relative;
    display: inline-block; /*O "inline" faz com que se houver um filho com display em "block", pegue a largura & altura dele */ 
}

.container-health-timer-ui {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    padding: 20px;
}

.timer {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    color: white;
    border: 4px solid white;
    flex-shrink: 0; /* Retira a flexibilidade de se adaptar com a largura, quando se passa do valor o conjunto de elementos da tela */ 
}

.container-bar {
    width: 100%;
    height: 30px;
    position: relative;
}

.container-bar-player {
    display: flex;
    justify-content: flex-end;
}

.player-health, .enemy-health {
    width: 100%;
    background-color: red;
    border: 4px solid white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.player-health { border-right: 0; }
.enemy-health { border-left: 0; }

.health-bar {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #818CF8;
    transition: all ease-in .3s;
}

.player-health-bar {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #818CF8;
    transition: all ease-in .3s;
}

.winner-game {
    padding: 16px;
    text-align: center;
    background-color: #818CF8;
    box-shadow: 5px 5px 0px #212121;
    border: 4px solid white;
    position: absolute;
    color: white;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}